[Unit]
Description=Anaconda url shortener
After=network.target

[Service]
Type=simple
# A graceful shutdown may take a while, especially on low-end devices like the RPi.
TimeoutSec=90
ExecStart=/bin/sh %h/workspace/elixir/anaconda/_build/prod/rel/anaconda/bin/anaconda foreground
ExecStop=/bin/sh %h/workspace/elixir/anaconda/_build/prod/rel/anaconda/bin/anaconda stop

[Install]
WantedBy=multi-user.target
